<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/about.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu&display=swap"
			rel="stylesheet"
		/>
		<title>About</title>
	</head>
	<body>
		<div class="main">
			<h2>This is Matuê</h2>
			<p>
				Matheus Brasileiro Aguiar (Fortaleza, October 11, 1993), better known as
				Matuê, is a Brazilian rapper, singer and songwriter. He became known
				with the single "Anos Luz", released in 2017. It is considered a symbol
				of Brazilian trap.
			</p>
		</div>
		<div class="buttons">
			<button><a href="/home">Back to home</a></button>
		</div>
	</body>
</html>
