<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/galery.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu&display=swap"
			rel="stylesheet"
		/>
		<title>Galery</title>
	</head>
	<body>
		<div>
			<img
				class="image"
				src="/images/Quer voar.png"
				width="375"
				height="375"
				alt="Cover of the single 'Quer Voar'"
			/>
			<img
				class="image"
				src="/images/gorilaroxo.jpg"
				width="500"
				height="500"
				alt="Cover of the Album 'Maquina do tempo'"
			/>
			<img
				class="image"
				src="/images/Vampiro.png"
				width="375"
				height="375"
				alt="Cover of the single 'Vampiro'"
			/>
		</div>
		<div>
			<img
				class="image"
				src="/images/space1240.jpg"
				width="1200"
				height="600"
				alt="Matue in the space"
			/>
		</div>

		<div>
			<img
				class="image"
				src="/images/banco.jpg"
				alt="Cover of the single 'Banco'"
			/>
			<img
				class="image"
				src="/images/mantem.jpg"
				width="500"
				height="500"
				alt="Cover of the
			single 'Mantem'"
			/>
			<img
				class="image"
				src="/images/morte do autotune.jpg"
				alt="Cover of the Album 'Maquina do tempo'"
			/>
			<button><a class="link" href="/home">HoMe</a></button>
		</div>
	</body>
</html>
