<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/works.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu&display=swap"
			rel="stylesheet"
		/>
		<title>Works</title>
	</head>
	<body>
		<div class="main">
			<h2>...Here you can find a little bit of Matue's work...</h2>
			<p>
				With several singles and only one album “Máquina do Tempo”,
				<strong>Matuê</strong> became a phenomenon - six of the seven songs on
				the album debuted in the top 10 of Spotify, all seven were among the 15
				most played, including the song that gives the title to the disk in the
				first position; is the best debut of a record on Spotify Brazil. On
				YouTube, the title track clip already has 25 million views, two million
				more than “777-666,” which has 23 million. All the songs on the album
				won a video and all have more than four million views in less than a
				month - “Vem Chapar”, the least popular, has 4.6 million. Impressive.
				Matuê is Matheus Brasileiro Aguiar, rapper/trapper from Ceará who turns
				27 on October 11th. The explosion in his career is recent, it was only
				in 2017 that he gained notoriety with the single “Anos Luz”. Before the
				release of his first album, Matuê released 18 singles, including “Kenny
				G”, which has an impressive 134 million views on YouTube.
			</p>
		</div>
		<div class="buttons">
			<button><a class="link" href="/home">HoMe</a></button>
		</div>
	</body>
</html>
